.App{
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(238, 115, 115) to rgba(204, 17, 17, 0.933);
  color:white;
}

.nav-link{
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
  width: 50%;
}